$black: #000000;
$oxford-blue: #14213d;
$orange-web: #fca311;
$platinum: #e5e5e5;
$white: #ffffff;

//shades of black
$black-1-light: #1a1a1a;
$black-2-light: #333333;

//shades of oxford blue
$oxford-blue-1-light: #2c3750;
$oxford-blue-2-light: #434d64;
$oxford-blue-3-light: #5b6477;

//shades of orange web
$orange-web-2-light: #fdb541;
