@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "constants";

/*
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  box-sizing: border-box;
}

html {
  /* font-size: 16px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  transition: font-size 0.4s linear;
}

body {
  margin: 0;
}

#app {
  color: $platinum;
  text-align: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

button {
  background-color: $oxford-blue;
  color: $platinum;
  cursor: pointer;
  border: 0;
  border-radius: 8px;

  &:hover {
    background-color: $oxford-blue-2-light;
    color: $white;
  }
}

@media only screen and (min-width: 1950px) {
  html {
    font-size: 87.5%;
  }
}

@media only screen and (min-width: 1500px) {
  html {
    font-size: 75%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $black-2-light;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: $oxford-blue-2-light;
  border-radius: 4px;
  &:hover {
    background: $oxford-blue-3-light;
  }
}
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  display: none;
}

// fade transition
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active {
  transition: all 0.2s ease-out;
}
.fade-leave-active {
  transition: all 0.2s ease-in;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

// Slide down
.slide-down-enter-from {
  opacity: 0;
  transform: translateY(-100%);
}
.slide-down-enter-active {
  transition: all 0.4s ease-out;
}
.slide-down-enter-to {
  opacity: 1;
  transform: translateY(0);
}
.slide-down-leave-from {
  opacity: 1;
  transform: translateY(0);
}
.slide-down-leave-active {
  transition: all 0.4s ease-in;
}
.slide-down-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}
